* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Home page */
.main {
    background-color: #6834d4; 
    padding: 2.5rem;
    align-items: start;
    justify-self: center;
    overflow-x:hidden;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__content h1 {
    margin-top:3rem;
    font-size: 2.5rem;
    font-weight:700;
    color: #fefefe;
    max-width: 100%;
}

.main__content h2, .findings__content h2 {
    font-size: 2rem;
    font-weight:600;
    color: #fefefe;
    max-width:100%;
}

.main__content p, .findings__content p {
    font-size: 0.9rem;
    padding: 0.5rem 0;
    color: #fefefe;
    max-width:100%;
}

.main__content p {
    font-weight: 600;
}

.findings__content p {
    font-weight: 500;
} 

.main__btn, .findings__button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.25rem;
    background: #fefefe;
    color: #6834d4;
    cursor: pointer;
    position: relative;
    padding: 1rem;
    font-size:1rem;
}

.main__btn {
    max-width:17rem;
    margin-top:3rem;
    margin-bottom:10rem;
}

.findings__button {
    max-width: 16rem;
    align-self: center;
    margin: 2rem 0;
}

.main__btn:hover, .findings__button:hover {
    background: #35166e;
    color: #fefefe;
    transition: all 0.3s ease;
}

.main__img---container {
    text-align: center;
}

#main__img {
    max-width:45vw;
    height: auto;
    padding:1rem;
    margin-top:5%;
}

/* Nav bar */
.navbar {
    font-size: 1.25rem;
    background: #6834d4;
    height: 5rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    z-index: 1;
    width: 100%;
    padding: 0 1.3rem;
}

#navbar__logo {
    color: #fefefe;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    max-width: 100%;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 5rem;
}

.navbar__links {
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.625rem 1.3rem;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background: #fefefe;
    color: #6834d4
}

.button:hover {
    background: #35166e;
    color: #fefefe;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #35166e;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        z-index: 1;
        width: 100%;
        padding: 0 1.3rem;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000rem;
        opacity: 0;
        transition: all 0.8s ease;
        z-index: -1;
        background: #6834d4;
    }

    .navbar__menu.active {
        background: #6834d4;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 99;
        height: 75vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 1.3rem;
    }

    .navbar__toggle .bar {
        width: 1.6rem;
        height: 0.2rem;
        margin: 0.2rem auto;
        transition: all 0.3s ease-in-out;
        background: #fefefe
    }

    .navbar__item {
        width:100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #idmobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__menu {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 5rem;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity:0; 
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); 
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg); 
    }

}

/* Other pages */
.page {
    background-color: #fefefe; 
    padding: 2.5rem;
    overflow-x:hidden;
}

.page__container {
    text-align: left;
}

.page__content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #6834d4;
}

.page__content h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #6834d4;;
}

.page__content h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #35166e;
}

.page__content p, .page__content a {
    font-weight: 400;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.page__content p {
    font-size: 0.9rem;
}

.page__content a {
    font-size: 0.85rem;
}

/* About page */

#about__img {
    width:12rem;
    height:auto;
    padding-right: 1rem;
}

.about__container {
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: start; 
    justify-content: center; 
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding:0.5rem;
}

.about__wrapper {
    display:grid;
    grid-template-rows: auto auto;
}

.text__container {
    align-items: start;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.about__profile {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

.about__container h2 {
    font-size:1.25rem;
}

.about__container h3 {
    font-size:1rem;
}

.about__container a {
    font-size:0.8rem;
}

.text__container p {
    font-size:0.9rem;
}

/* Method page */
.flowchart {
    padding: 0.5rem;
    width:87vw;
    height:auto;
}

@media screen and (max-width: 1080px) {
    .flowchart {
        max-width: 120%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .flowchart__container {
        display:none;
    }
}

/* Side bar for analysis page
.side__bar {
    background: #6834d4;
    width: 20%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
    padding: 0;
    position: fixed;
    right:0;
    top:0;
    padding-top: 80px;
    padding-bottom: 200px;
    
}

.side__bar ul {
    list-style-type: none;
    padding: 0.2rem;
    padding-left: 0.5rem;
}

.side__bar h3 {
    color:#fefefe;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    font-weight: 400;
}

.side__bar a {
    color:#fefefe;
    text-decoration: none;
    font-weight:400;
    font-size: 0.93rem;
}

.side__bar a:hover, .side__bar:active {
    color: #35166e;
} */

/* Footer */
.footer__container {
    background-color: #35166e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
    padding:1rem;
}

#footer__logo {
    color: #fefefe;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 47rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
    width: 7.5rem;
    box-sizing: border-box;
}

.footer__link--items h2 {
    color: #fefefe;
    font-size: 1.25rem;
}

.footer__link--items h3 {
    color: #fefefe;
    font-size: 1rem;
}

.footer__link--items a {
    color: #fefefe;
    text-decoration: none;
    padding: 0.25rem;
    font-size: 0.85rem;
}

.footer__link--items a:hover, .data__licence a:hover {
    color:#6834d4;
    transition: 0.3s ease-out;
}

.footer__logo__container {
    max-width: 47rem;
    width: 100%;
    padding: 1.25rem 0;
}

.footer__logo--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}

.footer__logo {
    color: #fefefe;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.website__rights, .data__licence {
    font-size: 0.75rem;
    margin-left: 1.25rem;
}

.website__rights p, .data__licence p, .data__licence a  {
    color: #fefefe;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .footer__links {
        padding-top: 1rem;
    }

    #footer__logo {
        margin-bottom: 1rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .contact__links--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .footer__links--items {
        padding-top: 1rem;
        width: 100%;
    }
}

/* Media queries */
@media screen and (max-width: 1000px) {
    .main__content h1 {
        margin-top:2rem;
        font-size: 2rem !important;
    } 

    .page__content h1 {
        font-size: 1.75rem !important;
    }     
    
    .main__content h2, .findings__content h2, .page__content h2 {
        font-size: 1.5rem !important;
    } 

    .page__content h3 {
        font-size:1rem !important;
    }

    #main__img {
        max-width:50vw;
        margin-top:5%;
    }
}

@media screen and (max-width: 850px) {
    .about__container a {
        font-size: 0.8rem;
    }

    .about__profile {
        grid-template-columns: 1fr !important;
    }

    .text__container {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (max-width: 800px) {
    .main__container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .main__content h1 {
        margin-top: 1rem;
    }

    .main__btn {
        margin-bottom:1rem;
    }

    #main__img {
        max-width:65vw;
    }

    #navbar__logo {
        font-size: 1.5rem !important;
    }
} 

@media screen and (max-width: 500px) {
    #main__img {
        max-width:70vw;
    }

    .main__content h1, .page__content h1 {
        font-size: 1.75rem !important;
    } 
    
    .main__content h2, .findings__content h2, .page__content h2 {
        font-size: 1.25rem !important;
    } 
    
    .main__content p, .findings__content p, .page__content p, .text__container p {
        font-size: 0.85rem !important;
    }  

    .main__btn, .findings__button {
        padding:0.85rem;
        font-size:0.85rem;
        width:14rem;
    }

    .about__container {
        gap: 1.5rem;
    }

    #about__img {
        width:11rem;
    }
}

@media screen and (max-width: 450px) {
    .about__container h2 {
        font-size: 1.15rem !important;
    }

    .about__container h3 {
        font-size: 0.85rem !important;
    }

    .about__container a {
        font-size:0.7rem !important;
    }

    .about__container {
        gap: 1rem;
    }

    #about__img {
        width:10rem;
    }
}

@media screen and (max-width: 400px) {
    #main__img {
        max-width:80vw;
    }

    #navbar__logo {
        font-size: 1.2rem !important;
    }

    .main__content h1, .page__content h1 {
        font-size: 1.65rem !important;
    } 
    
    .main__content h2, .page__content h2 {
        font-size: 1.2rem !important;
    } 
    
    .main__content p, .findings__content p,  .page__content p, .text__container p {
        font-size: 0.8rem !important;
    }  

    #about__img {
        width:9rem;
    }
}

@media screen and (max-width: 450px) {
    .about__container h2 {
        font-size: 1rem !important;
    }

    .about__container h3 {
        font-size: 0.75rem !important;
    }

    .about__container a {
        font-size: 0.6rem !important;
    }

    .about__container {
        gap: 0.9rem;
    }

    #about__img {
        width:8.5rem;
    }
}

@media screen and (max-width: 335px) {
    .main__content h1 {
        font-size: 1.4rem !important;
    } 
}